# Python
__pycache__/
# Java
*.class
*.jar
# XML
*.xml
# Hidden files (Whose names begin with dot)
.*
# Exclude .gitignore from hidden files
!.gitignore
# IntelliJ IDEA project
*.iml
# Folders
bin/
lib/
# Latex
*.aux
*.log
*.out
*.toc
*.bbl
*.bcf
*.blg
*.loa
*.lof
*.mtc
*.mtc0
*.maf
*.idx
*.dvi
*.pdf
*.synctex.gz
*.gz(busy)
# Text
*.txt
# Backup files
*.bak
*~
Thumbs.db